.jumbotron {
  height:50vh;
}

.nfbutton {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: 2.25em 0.50em;
    border:  none;
    border-radius: calc(0.15em + 0.15em + 0.15em);
    background: red;

    .logo {
      color: #fff;
      padding: 0.2em 0.25em;
      border:  0.15em solid #fff;
      border-radius: calc(0.5em + 0.5em + 0.15em);
  
      &:hover span:nth-child(odd) {
        color:transparent;
      }
      
      //slow transition to green  
      &:hover {
        :nth-child(n+0){
          //position:absolute;
          color: green;
          transition:5s;
          top:-15px;
        }
      }
         
      //clickable area
      &:before {
        content: "";
        position: absolute;
        padding: 0em;
        line-height: 1;
        border-radius: calc(0em + 0.5em + 0em);
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: none;
        
      } 
  
      span {
        transition: 0.5s;      
        
        &:nth-child(odd) {
          transform: translateY(-10px);
          color: brown;
          box-shadow: 0 60px 20px rgba(0, 0, 0, 0.1);
        } 
        //ennd
      }
    }
  }

  .card {
    z-index: -1;
  }

  .card-icon {
    margin-bottom: -50px;
    z-index: 10;
}

.copyright {
  background: #631912;
} 

//landing page animation
:root {
  --color: #ff39d7;
}

.container.animation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
 // overflow: hidden;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes flicker {
  0%,
  20%,
  50%,
  60%,
  75%,
  100% {
    opacity: 1;
  }
  10%,
  25%,
  65%,
  85% {
    opacity: 0.8;
  }
  12%,
  22%,
  67%,
  90% {
    opacity: 0.1;
  }
}


.triangle-emitter {
  position: relative;
}

.triangle-container {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate3d(-50%, -50%, 0) rotate(var(--rotation));
  animation: triangle-emit 6s ease-in infinite;

  opacity: 0;

  @keyframes triangle-emit {
    3%,
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate3d(-300%, -50%, 0)
        rotate(calc(var(--rotation) + 100deg * var(--direction)))
        scale3d(0.666, 0.666, 1);
    }
  }

  @for $t from 1 through 7 {
    &:nth-child(#{$t}) {
      animation-delay: 1s * ($t - 1);
    }
  }
}

svg {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 5;

  filter: drop-shadow(0 0 5px var(--color)) drop-shadow(0 0 5px var(--color));

  overflow: visible;

  height: 10vmin;

  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 160;
  stroke-dashoffset: 160;

  animation: draw 1s ease-out forwards, flicker 1s ease-in-out forwards 0.25s;

  path:nth-child(2) {
    stroke-width: 1px;
    stroke: white;
    filter: blur(1px);
  }
}

@keyframes img-rotate-3d-animation {
  50% {
    transform: rotate3d(2, 0, 1, 180deg);
  }
  100% {
    transform: rotate3d(2, 0, 1, 360deg);
  }
}

.pad {
  img {
    width: 20vmin;
    -webkit-filter: drop-shadow(5px 1px 0px #ff39d7)
      drop-shadow(-1px -1px 0px #ff39d7);
    filter: drop-shadow(5px 1px 2px #ff39d7) drop-shadow(-1px -1px 2px #ff39d7);
    transform: rotateX(-373deg) rotateY(0deg) rotateZ(-30deg);
  }
    &:after {
    content:"";
    filter: opacity(0.7) drop-shadow(0 0 0 #ff39d7);
  }
}
