.jumbotron {
  height:50vh;
}

.nfbutton {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: 2.25em 0.50em;
    border:  none;
    border-radius: calc(0.15em + 0.15em + 0.15em);
    background: red;

    .logo {
      color: #fff;
      padding: 0.2em 0.25em;
      border:  0.15em solid #fff;
      border-radius: calc(0.5em + 0.5em + 0.15em);
  
      &:hover span:nth-child(odd) {
        color: #fff;
      }
      
      //slow transition to green  
      &:hover {
        :nth-child(n+0){
          //position:absolute;
          color: rgb(255, 255, 255);
          transition:1s;
          top:-15px;
        }
      }
         
      //clickable area
      &:before {
        content: "";
        position: absolute;
        padding: 0em;
        line-height: 1;
        border-radius: calc(0em + 0.5em + 0em);
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: none;        
      } 
  
      span {
        transition: 0.5s;      
        
        &:nth-child(odd) {
          transform: translateY(-10px);
          color: rgba(255, 255, 255, 0.647);
        //  box-shadow: 0 60px 20px rgba(0, 0, 0, 0.1);
        } 
        //end
      }
    }
  }

  .card {
    z-index: -1;
  }

  .card-icon {
    margin-bottom: -50px;
    z-index: 10;
}

.copyright {
  background: #631912;
} 

//landing page animation
:root {
  --color: #ff39d7;
}

.container.animation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
 // overflow: hidden;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes flicker {
  0%,
  20%,
  50%,
  60%,
  75%,
  100% {
    opacity: 1;
  }
  10%,
  25%,
  65%,
  85% {
    opacity: 0.8;
  }
  12%,
  22%,
  67%,
  90% {
    opacity: 0.1;
  }
}


.triangle-emitter {
  position: relative;
}

.triangle-container {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate3d(-50%, -50%, 0) rotate(var(--rotation));
  animation: triangle-emit 6s ease-in infinite;

  opacity: 0;

  @keyframes triangle-emit {
    3%,
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate3d(-300%, -50%, 0)
        rotate(calc(var(--rotation) + 100deg * var(--direction)))
        scale3d(0.666, 0.666, 1);
    }
  }

  @for $t from 1 through 7 {
    &:nth-child(#{$t}) {
      animation-delay: 1s * ($t - 1);
    }
  }
}

svg {
  fill: transparent;
  stroke: var(--color);
  stroke-width: 5;

  filter: drop-shadow(0 0 5px var(--color)) drop-shadow(0 0 5px var(--color));

  overflow: visible;

  height: 10vmin;

  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 160;
  stroke-dashoffset: 160;

  animation: draw 1s ease-out forwards, flicker 1s ease-in-out forwards 0.25s;

  path:nth-child(2) {
    stroke-width: 1px;
    stroke: white;
    filter: blur(1px);
  }
}

@keyframes img-rotate-3d-animation {
  50% {
    transform: rotate3d(2, 0, 1, 180deg);
  }
  100% {
    transform: rotate3d(2, 0, 1, 360deg);
  }
}

.pad {
  img {
    width: 25vmin;
    -webkit-filter: drop-shadow(5px 1px 0px #ff39d7)
      drop-shadow(-1px -1px 0px #ff39d7);
    filter: drop-shadow(5px 1px 2px #ff39d7) drop-shadow(-1px -1px 2px #ff39d7);
    transform: rotateX(-373deg) rotateY(0deg) rotateZ(-30deg);
  }
    &:after {
    content:"";
    filter: opacity(0.7) drop-shadow(0 0 0 #ff39d7);
  }
}



/* Animated Circles CSS */
/*circles*/
/*square*/
/*triangle*/
/* Animated Circles CSS */
/*circles*/
/*square*/
/*triangle*/
@keyframes "animate" {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 0;
	}
	50% {
		transform: translateY(-60vh) rotate(360deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-120vh) rotate(720deg);
		opacity: 0;
	}
}
.circles {
	position: absolute;
	bottom: 100px;
	left: 0;
	width: 100%;
	height: 100%;
	li {
		position: absolute;
		display: block;
		list-style: none;
		width: 20px;
		height: 20px;
		animation: animate 25s linear infinite;
		bottom: calc(-150px - 40vh);
		&:nth-child(1) {
			left: 25%;
			width: 80px;
			height: 80px;
			animation-delay: 0s;
			animation-duration: 20s;
			&:after {
				left: 25%;
				animation-delay: 0s;
				animation-duration: 20s;
				border-radius: 50%;
				color: rgba(193, 24, 114, 1);
				content: "\f111";
				font-family: "Font Awesome 5 Free";
				font-size: 3rem;
			}
		}
		&:nth-child(2) {
			left: 10%;
			width: 20px;
			height: 20px;
			animation-delay: 0s;
			animation-duration: 25s;
			&:after {
				left: 25%;
				animation-delay: 0s;
				animation-duration: 20s;
				border-radius: 50%;
				color: rgba(255, 204, 229, 1);
				content: "\f0c8";
				font-family: "Font Awesome 5 Free";
				font-size: 3rem;
			}
		}
		&:nth-child(3) {
			left: 70%;
			width: 20px;
			height: 20px;
			animation-delay: 0s;
			animation-duration: 20s;
			&:after {
				left: 25%;
				animation-delay: 0s;
				animation-duration: 20s;
				border-radius: 50%;
				color: rgba(110, 200, 250, 1);
				content: "+";
				font-size: 5rem;
			}
		}
		&:nth-child(4) {
			left: 40%;
			width: 60px;
			height: 60px;
			animation-delay: 0s;
			animation-duration: 15s;
			&:after {
				left: 25%;
				animation-delay: 0s;
				animation-duration: 20s;
				color: rgba(15, 200, 150, 1);
				font-size: 5rem;
				content: "+";
				font-family: "Font Awesome 5 Free";
			}
		}
		&:nth-child(5) {
			left: 65%;
			width: 20px;
			height: 20px;
			animation-delay: 0s;
			animation-duration: 20s;
			&:after {
				left: 25%;
				animation-delay: 0s;
				animation-duration: 20s;
				color: rgba(15, 200, 150, 1);
				font-size: 2rem;
				content: "\f0c8";
				font-family: "Font Awesome 5 Free";
			}
		}
		&:nth-child(6) {
			left: 75%;
			width: 90px;
			height: 90px;
			animation-delay: 0s;
			animation-duration: 25s;
			&:after {
				left: 25%;
				animation-delay: 0s;
				animation-duration: 20s;
				color: rgba(15, 200, 150, 1);
				font-size: 1.5rem;
				content: "\f0c8";
				font-family: "Font Awesome 5 Free";
			}
		}
		&:nth-child(7) {
			left: 35%;
			width: 50px;
			height: 50px;
			animation-delay: 0s;
			animation-duration: 30s;
			&:after {
				left: 25%;
				animation-delay: 0s;
				animation-duration: 20s;
				border-radius: 50%;
				color: rgba(193, 24, 114, 1);
				content: "\f111";
				font-family: "Font Awesome 5 Free";
				font-size: 2rem;
			}
		}
		&:nth-child(8) {
			left: 50%;
			width: 25px;
			height: 25px;
			animation-delay: 0s;
			animation-duration: 35s;
			&:after {
				left: 25%;
				animation-delay: 0s;
				animation-duration: 20s;
				color: rgba(15, 200, 150, 1);
				font-size: 2rem;
				content: "\f0c8";
				font-family: "Font Awesome 5 Free";
			}
		}
		&:nth-child(9) {
			left: 20%;
			width: 15px;
			height: 15px;
			animation-delay: 0s;
			animation-duration: 40s;
			&:after {
				left: 25%;
				animation-delay: 0s;
				animation-duration: 20s;
				color: rgba(15, 200, 150, 1);
				font-size: 5rem;
				content: "+";
				font-family: "Font Awesome 5 Free";
			}
		}
		&:nth-child(10) {
			left: 85%;
			width: 50px;
			height: 50px;
			animation-delay: 0s;
			animation-duration: 45s;
			&:after {
				left: 25%;
				animation-delay: 0s;
				animation-duration: 20s;
				border-radius: 50%;
				color: rgba(193, 24, 114, 1);
				content: "\f111";
				font-family: "Font Awesome 5 Free";
				font-size: 1.25rem;
			}
		}
	}
}
